body{
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: #fff7e5;
}

.panel{
  padding-top:30px;
  background: rgb(250, 250, 250);
}

#eats-well{
  font-size:3em;
}

#footer{

}

#try_again{
  padding:20px;
}
